    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <p>&copy; 2023 Your Company Name. All rights reserved.</p>
                <p>Developed by Lawrence.Ojeaga</p>
            </div>
            <div class="footer-links">
                 <ul>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>